* {
    cursor: default;

    border-radius: 100px;
    border-style: solid;
    border: none;

    transition-duration: 200ms;
}

body {
    font-family: sans-serif;/*'Courier new', sans-serif;*/
    font-size: 20px;

    background-color: #eee;

    padding: 20px;
    padding-left: 20%;
    padding-right: 20%;
    margin: 0;
}

h1 {
    border-radius: 0;
    border: none;
}

#main_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

label {
    font-weight: bolder;

    margin-bottom: 10px;
}

select {
    cursor: pointer;

    border-bottom: 1px solid black;
    border-radius: 0;

    margin-bottom: 10px;

    background-color: #fff0;
    font-size: 16px;
    padding: 5px;
}

select:hover {
    background-color: #0002;
}

button {
    cursor: pointer;

    background-color: #fff0;
    color: #333;
    border: 1px solid #333;
    
    font-size: 16px;
    
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

button:hover {
    background-color: #333;
    color: #fff;
}

.play_button {
    background-color: #0ae;
    color: #fff;
    font-weight: bold;
    border: none;
}

.play_button:hover {
    background-color: #05a;
}

.stop_button {
    background-color: #e10;
    color: #fff;
    font-weight: bold;
    border: none;
}

.stop_button:hover {
    background-color: #a00;
}

.errase_button {
    border: 1px dashed #333;
}

.errase_button:hover {
    background-color: #e10;
    color: #fff;
    border: 1px solid #fff0;
}

#grid_div {
    display: grid;
    grid-template-columns: 1fr 2fr;

    border-radius: 10px;

    height: 90%;
    width: 100%;
}

#options_div {
    background-color: #fff0;

    padding-top: 70%;
    
    height: 100%;

    width: 100%;
}

#notes_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    background-color: #eee;

    border: 1px solid #333;
    
    height: 100%;
    width: 100%;
}

.scale_div {
    transition-duration: 200ms;

    border: 1px solid #fff0;
    border-radius: 10px;
    
    width: 85%;

    padding: 32px;
}

.scale_div:hover {
    border: 1px solid #333;
}

input[type="checkbox"] {
    cursor: pointer;
}

.icon {    
    border-radius: 0;
    border: none;

    color: white;

    width: 15px;
    height: 15px;
}

.icon-big {
    border-radius: 0;
    border: none;

    color: white;

    width: 30px;
    height: 30px;
}
